*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Montserrat;
    text-decoration: none;
}
@font-face {
  font-family: Montserrat; /* Гарнитура шрифта */
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
 }
html{
  scroll-behavior: smooth;
  overflow-x: none;
}
#menu__toggle{
    display: none;
}
.menu__item{
    color: black;
    font-size: 87%;
}
#first_menu_item>img{
    width: 100%;
}
#first_menu_item{
    width: 94%;
    display: flex;
}
.menu__item:hover{
    color: #10c9c3;
    transition: 0.3s;
}
.menu__box{
    height: 5vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;    
}
nav{
  width: 100%;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1%;
  height: 25vh;
  background-color: #e9e9e9;
}
.home{
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  width: 40%;
  justify-content: space-around;
}
.homeform{
  height: 4vh;
  width: 15%;
}
.homebut{
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: #10c9c3;
  padding: 2%;
  color: white;
}
.home>h2{
  font-size: 4vh;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1%;
  padding-top: 1%;
}
.aboutus{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 40%;
  height: 34vh;
  text-align: center;
}
.aboutus>h2{
  font-size: 3vh;
}
.skills{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50vh;
}
.hungred{
  width: 50%;
  display: flex;
}
.seventy-five{
  width: 75%;
}
.fiveteen{
  width: 25%;
}
.firstpart{
  display: flex;
  width: 36%;
  padding-left: 14%;
  background-color: #f8f9f9;
  justify-content: space-evenly;
  flex-direction: column;
}
.imgpart{
  width: 50%;
  background-image: url(../Images/Prigozhin.png);
  background-size: 100%;
  background-color: #e9e9e9;
}
#fiirstpart{
  background-color: #10c9c3;
  height: 3px;
}
#secondpart{
  background-color: #d8d8d8;
  height: 3px;
}
.nighty{
  width: 90%;
}
.ten{
  width: 10%;
}
.sixty-five{
  width: 65%;
}
.forty-five{
  width: 45%;
}
.skill{
  display: flex;
  flex-direction: column;
}
.worksnav{
  background-color: #10c9c3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15vh;
  color: white;
}
.ourworks{
  margin-top: 1%;
  width: 100%;
}
.stats{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
.stats>img{
  width: 15%;
  height: 15%;
}
.textstats{
  width: 80%;
}
.textstats>p{
  font-weight: 700;
  font-size: 67%;
}
.worksimg{
  display: grid;
  height: 65vh;
  grid-template-columns: repeat(4,25%);
  grid-template-rows: 50% 50%;
  grid-template-areas: "a1 a2 a3 a4"
                       "a5 a6 a7 a8";
}
#one{
  background-image: url(../Images/Prigozhin.png);
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
#one:hover{
  filter: none;
  transition: 0.7s;
}
#two{
  background-image: url(../Images/JeiBee.png);
  background-size: 100%;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
#two:hover{
  filter: none;
  transition: 0.7s;
}
.moreworks{
  background-color: #f5f5f5;
  display: flex;
  width: 100%;
  height: 11vh;
  align-items: center;
  justify-content: center;
}
.moreworks>a{
  color: #b7b7b7;
  font-weight: 700;
  font-size: 100%;
}
.workprocces{
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.headofworkpr{
  text-align: center;
  padding-inline: 26%;
}
.workskills{
  background-color: #f5f5f5;
  padding: 0% 5% 0 5%;
  height: 20vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.skil{
  width: 20%;
  height: 15vh;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width: 768px){
    #first_menu_item{
        display: none;
    }
    .menu__item:hover{
        color: black;
        transition: 0.3s;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      left: 0 !important;
    }
    .menu__btn {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #616161;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .menu__box {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      width: 300px;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      background-color: #ECEFF1;
      box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
      transition-duration: .25s;
    }
    .menu__item {
      display: block;
      padding: 12px 24px;
      color: #333;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #CFD8DC;
    }
    .home{
      height: 25vh;
    }
    header{
      height: 50vh;
      justify-content: center;
    }
    .homeform{
      width: 30%;
      height: 3vh;
    }
    .vid{
      width: 50%;
      height: 40vh;
    }
    .workskills{
      padding: 5%;
      height: 50vh;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-content: space-around;
    }
    .skil{
      width: 30%;
    }
}